@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    font-family:"Raleway";
    list-style-type: none;
    text-decoration: none;  

}
:root{
    --blue: #0065FC;
    --lightblue: #DEEBFF;
    --grey: #D9D9D9  ;
    --lightgrey: #F2F2F2  ;
    --white: rgba(255, 255, 255, 1)

}

body{
    margin: 0;
}
/* *********nav bar ********** */
#header{
    display:flex;
    flex-wrap:wrap;
    margin: 0  auto 0;
    max-width: 1440px;
    width: 93%;
}
#logo{
    margin-right:  auto;
}
.log img{
    width: 61.09px;
    height: auto;
    margin-top: 30px ;
}
.nav1 a{
    color: inherit;
    text-decoration: none;
    margin: 16px 38px ;  
}
.nav-bar {
    display: flex;
    margin:16px 0 0 0 ;
    padding: 0;
}
.nav-bar a:hover{
    border-top: 3px solid var(--blue);
    padding-top: 12px;
    color: var(--blue);
}

/* *******main****** */
#main{
    max-width: 1440px;
    width: 93%;
    margin:0 auto 0;
}
/* *****zone search********   */
.title-search{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    line-height:25.83px;
}
.zoneSearch p {
    margin: 8px 0 35px 0;
}

.filter-text{
    margin-top: 35px;
}
.recherche-form{
    display: flex;
    align-items: center;
}
.recherche-form .fas,fa-map-marker-alt{
    background-color: var(--lightgrey);
    border-radius: 1rem 0 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 49px;
    width: 50px;
}
#placehoders{
    text-align: center;
    border: 1px solid var(--lightgrey);
    height: 49px;
    font-weight: bold;
    font-size: 1.1rem;
}
::placeholder {
   color : black;
   opacity: 1;
}

.but1{
    border: 1px solid transparent;
    background-color: var(--blue);
    border-radius: 0 1rem 1rem 0;
    color: var(--white);
    height: 49px;
    width: 132px;
    font-weight: bold;
    font-size: 1.1rem;
}
.but1:hover{
    cursor: pointer;
    opacity: 0.9;
    transition: 10ms ease-in-out;
}
.but2{
    display: none;
}
/* ******* Zone filter ********* */
.filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 35px;
}
.filtre-ul{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
    padding-left: 15px;
}
.list-filter{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border:2px solid var(--grey) ;
    border-radius: 2rem;
    padding:4px 19px;
    font-size: 16px;
    font-weight: 700;
}
.list-filter:hover{
    background-color: var(--lightblue);
    cursor: pointer;
}
.filter-text{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 0px;
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey) ;
    width:24px; 
    height: 24px;
    border-radius: 50%;
}
/* ***** first table****** */
.first-table{
    display: flex;
    margin-top:35px; 
    gap: 30px;
}
/* *********hébergement à marseille********** */
.firstblock {
    background-color: var(--lightgrey);
    border-radius: 1rem;
    padding: 0 15px ;
    width: 66%;
}
#logohebergement{
 padding-left: 15px;
    margin: 30px 0;
}
.tableHebergements {
    display: grid;
    grid-template-columns: repeat(3,1fr);
   padding: 0 15px;
   grid-gap:30px;
}
.cards-hotel{
    background-color: var(--white); 
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.3);
}

.cards-hotel:hover{
    cursor: pointer;
    transform:scale(1.05) ;
    transition: 0.1s;
}
.cards-hotel img{
    object-fit: cover;
    border-radius: 1rem 1rem 0 0; 
    width: 100%;
    height: 100px;
}
.cards-hotel h4,p,.stars{
    margin: 3px 0 0 5px;
}
.afficherplus {
    font-size: 18px;
    font-weight: 700;
    padding:30px 20px;
}
.afficherplus a{
    color: inherit;
}
/* ********* les plus populaires ********* */
.populaires{
    background-color: var(--lightgrey);
    border-radius: 1rem;
    width: 33%;
    padding: 0 30px 30px 30px;
}
.populaires-title{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.section-title{
    margin: 30px 0;
}
.populaires-cards{
    display:grid;
    grid-template-columns: 1fr ;
    grid-template-rows: repeat(3,7.9rem);
    grid-gap:30px;
}
.populaires-cards .card-populaire{
    display: flex;
    background-color:var(--white);
    border-radius: 1rem;
    padding: 5px;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.3);
}
.card-populaire:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}

.card-populaire img{
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
    max-width: 123px;
    width: 100%;
}
.card-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0 0 10px;
}
.card-title{
    margin: 0;
}
.card-subtitle{
    margin-left: 0;
}
.bleu{
    color:var(--blue);
} .gris{
    color:var(--lightgrey);
}
/* *******activités à marseille ******** */
.Activites-a-marseille{
    margin:35px auto 65px;
}
.title-activites h2{
    margin: 0;
    padding: 30px;
}

.cards-activites{
   display: flex;
   justify-content: center;
    gap :30px;
    padding: 0;
    margin: 0 30px 0 ;
}
.card-photo{
    width: 100%;
    background-color:var(--white);
    border-radius: 1rem;
    box-shadow: 0 0 15px  rgba(0, 0, 0, 0.3);
}
.card-photo:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.1s;
}
.card-photo img{
    object-fit: cover;
    width:100%;
    height: 380px;
    border-radius: 1rem 1rem 0 0;
}
.card-photo h4{
    display: flex;
    align-items: center;
    padding: 19px;
    margin: 0;
}
.footer-part{
    max-width: 1440px;
    width: 93%;
   margin: 3rem auto 0;
    
}
.list-footers{
    background-color: var(--lightgrey);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
  
}
.foot{
    display: flex;
    flex-direction: column;
    padding-left:20px ;
}
.foot h3{
    padding-top: 20px;
    margin: 0;
}
.foot a{
    padding-top: 15px;
    color: inherit;
}
/* *****first break point****** */
@media (max-width:1024px){
    .filters{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .filtre-ul{
        padding: 0;
    }
    .first-table{
        display: flex;
        flex-direction: column;
    }
    .firstblock{
        width: 100%;
    }
    .populaires{
        width: 100%;
    }
    .populaires-cards{
        display: flex;
    }
    .card-populaire{
        max-width: 274.67px;
        width: 100%;
        max-height:146px ;
    }
    .card-populaire img{
        
        max-width: 91.67px;
        width: 100%;
    }
    .cards-activites{
        max-height: 270px;
        height: 100%;
    }
    .card-photo img{
        height: 200px;
    }
    .card-photo h4{
        height: 70px;
        margin: 0;
    }
}
/* ****** second break point ***** */
@media (max-width:767px){
   #main{
        margin: 0;
        width: 100%;
    }
    #header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .nav1{
        width: 100%;
    }
    .nav-bar a:hover{
        border-top: none;
        padding: 0;  
    }
    .heb-acti{
        border-bottom: 3px solid var(--lightgrey);
        display: flex;
        justify-content: center;
        flex-basis: 50%;
    }
    .heb-acti:hover{
        border-bottom: 3px solid var(--blue);
    }
    .zoneSearch{
        margin: 0 8px 0 20px;
    }
    .zone-filter{
        margin-left: 20px;
    }
    .list-filter{
        width: 162.5px
    }
    .log {
        margin-left: auto;    
    }
    .recherche-form{
        max-width: 340px;
    }
    .recherche-form input{
         width: 73%;    
    }
    .but1{
        display: none;
    }
    .but2{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--blue);
        background-color: var(--blue);
        border-radius: 1rem;
        width: 49px;
        height: 49px;
        color: var(--white);
        margin-left: -10px; 
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
      }
    .but2:hover{
        cursor: pointer;
        opacity: 0.9;
        transition: 10ms ease-in-out;
    }
    .firstblock{
        background-color: var(--white);  
        max-width: 767px;
        width: 100%;
    }
    .tableHebergements{
        display: flex;
        flex-direction: column;
    }
    .hotel-2{
        order: 4;
    }
   .hotel-3{
    order: 1;
   }
   .hotel-4{
    order: 2;
   
    }
    .hotel-6{
        order: 3;
    }
    .populaires{
        height: 569px;
        order: -1;  
        border-radius: 0;
    }
  
    .populaires-cards{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-populaire{
        max-width: 710px; 
        max-height: 130px;
         height: 100%; 
    }
   .card-populaire img {
    object-fit: cover;
   }
   .Activites-a-marseille{
   max-height: 985px;
   }
    .cards-activites{
  display: block;
  max-height: 985px;
    } 
    .card-photo{
        margin-bottom: 15px;
    }
    .card-photo img{
        height: 141px;
    }
    .card-photo h4{
        height: 59px;
    }
   .footer-part{
    width: 100%;
   }
   .list-footers{
    display: flex;
    flex-direction: column;
    gap:50px ;
    padding: 30px;
   }
   .foot{
    gap:15px;
    padding: 0;
   }
}